h1 { font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 60px;
}

h3 { font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p { font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote { font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre { font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5667px;
}

.center {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main_content
{
 margin-top:50px;
 width:500px;
 margin-left:250px;
}

#main_content li
{
 display:inline;
 list-style-type:none;
 background-color:#595C6F;
 padding:10px;
 border-radius:5px 5px 0px 0px;
 color:#EDF4FE;
 font-weight:bold;
 cursor:pointer;
}

#main_content li.notselected
{
 background-color:#EDF4FE;
 color:#595C6F;
}

#main_content li.selected
{
 background-color:#595C6F;
 color:#EDF4FE;
}

#main_content .hidden_desc
{
 display:none;
 visibility:hidden;
}

#main_content #page_content
{
 background-color:#595C6F;
 padding:10px;
 margin-top:9px;
 border-radius:0px 5px 5px 5px;
 color:#EDF4FE;
 line-height: 1.6em;
 word-spacing:4px;
}
